@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}


div {
    margin: 0 auto;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

#img-1 {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 200px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 16px 0;
}

 .link {
    width: 326px;
    height: 49px;
    border-radius: 4px;
    border: 2px solid purple;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: purple;

    cursor: pointer;

    transition: all .3s;
}

.link:hover {
    background-color: purple;
    color: white;
}

#insta{
    display: block;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: purple;
    margin: 0.25rem;
    text-align: center;
}
 
#rede-sociais {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}